// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.word-spelling {
    min-height: 50px;
    font-size: 25px;
    padding-left: 30px;
}

.word-definition {
    padding-left: 10px;
}

#click-counter {
    position: fixed;
    bottom: 0;
    right: 0;
}

